body {
    background-color: #FAF9F9;
    color: #0F0621;
    text-align: center;
    margin: 0 3rem;
}

.navbar-innerText {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    padding-left: 54px !important;
}

/* landing page classes */
.gradient-section {
  background: url("/static/mesh-759.png") no-repeat !important;
  background-size: cover !important;
  overflow: hidden;
  width:100%;
  height:100%;
  margin:0 0 0 0 !important;
}

.gradient-section p {
  margin: 2rem 0;
  font-size: 1.3rem;
  color:#FAF9F9;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.hero {
  margin:10em;
}

/* special css for the browsing/main page navbar */
.main-navbar {
    list-style-type: none;
    margin-top: 2.2rem;
    margin-bottom: 2.6rem;
}

li.main-bar {
  display: inline;
  padding: 2.6rem 24px;
  padding-left: 0px;
  overflow: hidden;
}

.align-right {
  float:right; 
}

.list-group-flush .list-group-item {
  border: none;
}

.login-card {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 2.5rem 10rem;
}

/* for main page */
.board-grid {
  column-count: 5;
  column-gap: 16px;
  grid-auto-rows: 20px;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: masonry;
  grid-auto-rows: 20px;
  grid-row-gap: 10px;
  grid-column-gap: 16px; */
}

.post {
  /*grid-row-end: span 10;*/
  padding:1em;
  margin-bottom: 0;
  padding-bottom:0;
  /*display:block;*/
  display:inline-block;
  width: 300px;
  height: auto; 
  border-radius: 35px;
  box-sizing: border-box;
}

.caption {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 6px;
  font-weight: 500;
  padding-top:10px;
  text-align: left;
  padding-left:8px;
  color:#0F0621;
  text-decoration: none;
  transition: color 0.2s ease;
}

.caption:hover {
  color: #000;
}

.specific-post-img {
  border-radius: 35px;
  width: 500px;
  height: auto;
  margin-left: auto; 
  margin-right: 2rem;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.container {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;

}